* {
    font-family: 'Press Start 2P', cursive;
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px;
    margin-left: 450px;
    margin-top: 40px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

.form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
}

input#usr {
    padding: 10px;
    margin: 20px;
}

input.button {
    padding: 10px;
    margin-left: 120px;
}

label {
    padding: 10px;
    margin-left: 100px;
}